.landingpage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 15vh;
  background-color: #fff;
  z-index: 1000;
  justify-content: center;
}

.sectionOne {
  width: 100%;
  display: flex;
}

.sectionOne {
  flex-direction: row;
  padding-top: 15vh;
}

.secOneLeft,
.secOneRight {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.secOneTxtBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
  margin-left: 50px;
}

.bigTxt {
  font-size: 45px;
  margin-bottom: 20px;
  color: var(--kudaPurple);
  font-weight: 600;
}
.medTxt {
  font-size: 18px;
  line-height: 26px;
  color: var(--mildBlack);
  font-weight: 500;
}

.badges {
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: column;
}

.apple,
.google {
  height: 65px;
  width: 49%;
  margin-right: 2%;
  border-radius: var(--mildRound);
}

.ndic,
.cbn {
  height: 30px;
}

.topBadge,
.bottomBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

.bottomBadge {
  margin-top: 10px;
  justify-content: space-between;
  padding: 0px 20px;
}

.sideTxt {
  color: var(--lightGray);
  font-size: 11px;
}

.secOneRight {
  margin-top: -10vh;
  padding-left: 10%;
}

.features{
     width: 100%;
     height: fit-content;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin-top: 20vh;
     padding: 50px 5%;
     gap:10px;
     row-gap: 20px;
}

/********************************MEDIA QUERIES**********************************/

@media screen and (max-width: 991px) {
  .bigTxt {
    font-size: 40px;
  }
}

@media screen and (max-width: 755px) {
  .sectionOne {
    flex-direction: column;
    padding-top: 0vh;
    gap: 20px;
  }
  .secOneLeft,
  .secOneRight {
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;

  }

  .secOneTxtBox {
    width: 70%;
  }
}
@media screen and (max-width:700px) {
     .features{
          margin-top: 10vh;
     }
}
