body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family:sans-serif;
     font-size: 14px;
}

:root{
     --kudaPurple:#40196D;
     --shadow: 0px 3px 10px 0px rgba(79,78,78,0.1);
     --lightGray:#A0A0A0;
     --flagBg:#B2DBCA;
     --film:rgba(64,25,109,0.2);
     --mildRound:5px;
     --fullRound:10px;
}